/* REGISTRATION - LOGIN -  ADD NEWS - DELETE ACCOUNT - EDIT NAME/MAIL/PASSWORD - FORGET/REINIT PASSWORD */
/* UPDATE SERIES - EDIT NEWS/CATEGORIES */
.form {
	width: 50%;
	margin: 50px auto;
	color: #000000;
	background-color: #FFF;
	padding: 20px;
	border-radius: 10px;
}

.form h3,
.form h4 {
	margin: 50px auto;
	text-align: center;
}

.form .form-group {
	width: 90%;
	margin: 20px auto;
}

.form .form-group input,
.form .form-group select,
.form .form-group textarea {
	background-color: #f7e1de;
	text-align: center;
}

.form #register_form_btn,
.form #login_form_btn,
.form #add_news_btn,
.form #edit_name_btn,
.form #edit_mail_btn,
.form #edit_passwd_btn,
.form #forget_passwd_btn,
.form #reinit_passwd_btn,
.form #edit_news_btn,
.form #edit_categories_btn,
.form #add_categories_btn,
.form #edit_comment_btn,
#personality .btn {
	background-image: none;
	text-shadow: none;
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin: 0 auto 50px auto;
}

.form #register_form_btn:hover,
.form #login_form_btn:hover,
.form #add_news_btn:hover,
.form #delete_account_btn:hover,
.form #edit_name_btn:hover,
.form #edit_mail_btn:hover,
.form #edit_passwd_btn:hover,
.form #forget_passwd_btn:hover,
.form #reinit_passwd_btn:hover,
.form #edit_news_btn:hover,
.form #edit_categories_btn:hover,
.form #add_categories_btn:hover,
.form #edit_comment_btn:hover,
#personality .btn:hover {
	color: #f40e0e;
}

.form #delete_account_btn,
.form #animer {
	background-image: none;
	text-shadow: none;
	background-color: #f40e0e;
	color: #FFF;
	font-size: 1.2em;
	padding: 5px;
	margin: 0 auto 30px auto;
	border-radius: 5px;
}

.form #delete_account_btn:hover,
.form #animer:hover {
	color: #3a3a3a;
}

.form #animer {
	width: auto;
}

.form div a {
	color: #f40e0e;
}

.form div a:hover {
	text-decoration: none;
}

.form .checkbox {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
}

.checkbox input[type=checkbox] {
	margin-left: 30%;
}

#account caption,
#admin_comments caption,
#edit_name label,
#edit_mail label,
#edit-passwd label,
#add-news label,
#edit_news label,
#add_categories label,
#edit_categories label,
#login label,
#forget_password label,
#register label,
#reset-passwd label,
#edit_comment label,
#contact label {
	width: 100%;
	background-color: #3a3a3a;
	color: #FFF;
	text-align: center;
	font-size: 1.2em;
	border-radius: 5px;
}

#admin_comments caption span {
	color: #FF0000;
}

/* User Account */
table .btn {
	background-image: none;
	text-shadow: none;
	background-color: #8a8a8a;
	color: #FFF;
	font-size: 1em;
	padding: 5px;
}

/* Supprimer mon compte */
form #ask-passwd {
	display: flex;
	flex-direction: column;
}

/* Gestion Mon Compte / Actus / Commentaires */

#admin_news,
#admin_comments {
	width: 80%;
}

#edit-passwd input,
#reset-passwd input {
	width: 100%;
}

#admin_news table thead td,
#admin_comments table thead td {
	color: #FF0000;
	font-weight: bold;
	font-size: 1.2em;
}

#admin_news table tbody td,
#admin_comments table tbody td {
	font-size: 1.2em;
}

#admin_news table tr:hover,
#admin_comments table tr:hover {
	background-color: #edbcb6;
}

table #buttons-actions {
	display: flex;
	flex-direction: row;
}

table #buttons-actions a {
	margin-right: 5px;
}

table #buttons-actions button {
	background-color: #FF0000;
}

/* Mise à jour des séries */
#update form div {
	display: flex;
	flex-direction: column;
}

.errors {
	color: #FF0000;
	background-color: #edbcb6;
	font-size: 1.5em;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	list-style: none;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Laptop 992px to 1200px */
@media all and (max-width: 1200px) {

}

/* Tablette 768px to 992px */
@media all and (max-width: 992px) {
	
	.form {
		width: 60%;
	}
	
}

/* Smartphone lower than 768px */
@media all and (max-width: 768px) {
	
	.form {
		width: 80%;
	}
	
	table td {
		font-size: 0.9em;
	}
	
	table .btn {
		font-size: 0.9em;
	}
	
	#admin_news table thead td {
		font-size: 1em;
	}
	
	#admin_news table tbody td {
		font-size: 1em;
	}
	
	#admin_news .param {
		display: none;
	}
	
	.checkbox input[type=checkbox] {
		margin-left: 15%;
	}
	
}
