body {
	background-color: #000000;
	color: #FFF;
	font-family: 'Mukta', sans-serif;
}

.container {
	width: 95%;
	display: flex; /* Fixe le pied de page en bas */
	flex-direction: column; /* Fixe le pied de page en bas */
	min-height: 100vh; /* Fixe le pied de page en bas */
	padding-right: 10px;
	padding-left: 10px;
	margin: auto;
}

#container {
	flex: 1; /* Fixe le pied de page en bas */
}

[class*="col-"] {
	text-align: center;
}

hr {
	color: #FFF;
	width: 100%;
	margin: 50px auto;
}

.alert {
	width: auto;
	margin: 0 auto;
}

/* HEADER */
#main_title {
	font-family: 'Indie Flower', sans-serif;
	text-align: left;
	padding-bottom: 30px;
}

#main_title h1 {
	width: 100%;
	margin-top: 10px;
	color: #f40e0e;
	font-size: 5em;
	font-weight: bold;
}

#main_title a:hover {
	text-decoration: none;
}

#main_title h2 {
	font-style: italic;
}

#login_btns {
	margin-top: 30px;
	margin-bottom: 30px;
}

#login_btns .btn {
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.1em;
	float: right;
	margin-left: 10px;
}

#login_btns .btn:hover {
	color: #f40e0e;
}

#bloc_user_infos {
	color: #FFF;
	background-color: #000000;
	padding: 10px 0;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #FFF;
	margin-bottom: 20px;
}

#bloc_user_infos .btn {
	float: none;
}

.user_infos span,
.user_infos span a {
	color: #f40e0e;
}

/* MENU */
.navbar {
	margin-bottom: 50px;
}

#menu {
	font-size: 1.4em;
}

#searchbar .btn {
	background-color: #3a3a3a;
	color: #8a8a8a;
	border: 1px solid #FFF;
}

#searchbar .btn:hover {
	color: #FFF;
}

#bloc_content h2 {
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center;
}

/* FLASH ACTU */
#flash_news {
	width: 90%;
	height: 100%;
	margin: 80px auto 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #FFF;
}

#flash_news h2 {
	color: #f40e0e;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 2em;
	text-decoration: underline;
}

#flash_news p {
	text-align: justify;
}

#flash_news .flash_news_btn,
.each_news_details .flash_news_btn {
	margin: 20px auto;
}

#flash_news .flash_news_btn a,
.each_news_details .flash_news_btn a {
	float: none;
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	border-radius: 5px;
}

#flash_news a:hover,
.each_news_details .flash_news_btn a:hover {
	color: #f40e0e;
	text-decoration: none;
}

/* CAROUSEL 3D (Page Home) */
#showcase {
	margin: 0 auto;
	height: 600px;
	text-align: center;
	visibility: hidden;
	padding-left: 0;
}

#showcase img {
	margin: 0 auto;
	cursor: pointer;
}

.nav {
	text-align: center;
	padding-right: 0;
}

.nav button {
	width: 64px;
	height: 36px;
	color: #FFF;
	background-color: #3a3a3a;
	font-size: 2em;
	font-weight: bold;
	margin: 5px;
	border-radius: 5px;
}

/* DIAPOSITIVES */
#bloc_series_list #list {
	margin: auto;
}

#searchbar {
	display: flex;
	width: 30%;
	margin: auto;
}

#searchbar input {
	margin-right: 10px;
	font-size: 1em;
}

#searchbar .btn {
	color: #FFF;
}

#searchbar .btn:hover {
	color: #f40e0e;
}

.no_serie_found {
	margin: auto;
	width: 300px;
	text-align: center;
	margin-top: 50px;
	color: #FF0000;
	background-color: #edbcb6;
	font-size: 1.5em;
	padding: 10px;
	border-radius: 10px;
}

.dropdown .btn {
	background-image: none;
	text-shadow: none;
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin-left: 10px;
	margin-right: 100px;
}

.dropdown .btn:hover {
	color: #f40e0e;
}

.dropdown ul {
	margin-left: 10px;
}

.dropdown ul li {
	color: #000000;
	padding-left: 5px;
}

.dropdown ul li input {
	border: none;
	padding-left: 5px;
}

.dropdown ul li input:hover {
	color: #f40e0e;
}

#bloc_series_list #list img {
	border: 10px solid #000000;
}

#bloc_series_list #list .thumbnail {
	margin-bottom: 0;
}

#bloc_series_list #list img:hover {
	opacity: 0.4;
}

#pagination {
	float: right;
	margin-right: 10px;
}

.pagination li a,
.pagination li span {
	background-color: #3a3a3a;
	color: #FFF;
}

.pagination li.active a {
	background-color: #f40e0e;
	color: #FFF;
	border: 1px solid #ddd;
}

/* PROVISOIRE.... REGISTRATION FORM */
#registration_form,
#login_form {
	color: #000000;
}

/* PROVISOIRE.... BUTTON UPDATE SERIES */
#update_series {
	float: right;
	margin-right: 20px;
}

#update_series a {
	color: #f40e0e;
	margin-bottom: 20px;
	margin-left: 10px;
}

#pourcentage {
	margin-left: 10px;
}

.progress {
	margin-top: 10px;
}

/* Bouton Retour */
.return {
	margin-bottom: 50px;
	margin-top: 50px;
}

.return a {
	color: #f40e0e;
	font-size: 1.2em;
	float: left;
}

.return a:hover {
	text-decoration: none;
}

/* FOOTER */
footer {
	color: #FFF;
	background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
	font-size: 1.2em;
	margin-top: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*height: 200px;*/
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Laptop 992px to 1200px */
@media all and (max-width: 1200px) {
	
	#menu {
		font-size: 1.3em;
	}
	
}

/* Tablette 768px to 992px */
@media all and (max-width: 992px) {
	
	#main_title {
		text-align: center;
		padding-bottom: 0;
	}
	
	#bloc_user_infos {
		width: 50%;
		margin: 20px auto;
	}
	
	.unlogged_btns {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	#menu {
		font-size: 1.1em;
	}
	
}

/* Smartphone lower than 768px */
@media all and (max-width: 768px) {
	
	.navbar {
		width: auto;
		margin: auto;
	}
	
	.container-fluid {
		text-align: center;
	}
	
	#bloc_user_infos {
		width: 80%;
	}
	
	.inline-form input {
		display: inline-block;
		width: 100px;
	}
	
	#showcase {
		height: 500px;
	}
	
	#showcase img {
		width: 35%;
	}
	
	#searchbar {
		width: 60%;
		margin-bottom: 50px;
	}
	
}

/* Smartphone lower than 550px --> FOR SLIDER */
@media all and (max-width: 550px) {
	
	#showcase {
		height: 450px;
	}
	
	#showcase img {
		width: 40%;
	}
}

/* Smartphone lower than 500px --> FOR SLIDER */
@media all and (max-width: 500px) {
	
	#showcase {
		height: 400px;
	}
}

/* Smartphone lower than 450px --> FOR SLIDER */
@media all and (max-width: 450px) {
	
	#showcase {
		height: 350px;
	}
}