body {
	background-color: #000000;
	color: #FFF;
	font-family: 'Mukta', sans-serif;
}

.container{
	width: 90%;
	padding-right: 10px;
	padding-left: 10px;
	margin: auto;
}

[class*="col-"]{
	text-align: center;
}

hr{
	color: #FFF;
	width: 100%;
	margin: 50px auto;
}

/* HEADER */
#main_title{
	font-family: 'Indie Flower', sans-serif;
	text-align: left;
	padding-bottom: 30px;
}

#main_title h1{
	width: 100%;
	margin-top: 10px;
	color: #f40e0e;
	font-size: 5em;
	font-weight: bold;
}
#main_title a:hover{
	text-decoration: none;
}

#main_title h2{
	font-style: italic;
}

#login_btns{
	margin-top: 30px;
	margin-bottom: 30px;
}

#login_btns button{
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin-left: 10px;
	float: right;
}

#login_btns .btn:hover{
	color: #f40e0e;
}

/* MENU */
.navbar{
	margin-bottom: 50px;
}

#menu{
	font-size: 1.4em;
}

#searchbar .btn{
	background-color: #3a3a3a;
	color: #8a8a8a;
	border: 1px solid #FFF;
}

#searchbar .btn:hover{
	color: #FFF;
}

#bloc_content h2{
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center;
}

/* FLASH ACTU */
#flash_news{
	width: 90%;
	height: 100%;
	margin: 80px auto 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #FFF;
}

#flash_news h2{
	color: #f40e0e;
	margin-top: 10px;
	font-size: 2em;
}

#flash_news .flash_news_btn{
	margin: 20px auto;
}

#flash_news .flash_news_btn a{
	float: none;
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	border-radius: 5px;
}

#flash_news a:hover{
	color: #f40e0e;
	text-decoration: none;
}

/* SLIDER */
.carousel-inner{
	margin-bottom: 100px;
}

.carousel-inner img{
	margin: 0 auto;
	width: 30%;
}

.carousel-inner img:hover{
	opacity: 0.4;
}

.carousel-caption h2,
.carousel-caption h3,
.carousel-caption p{
	text-shadow: 2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, -2px 0 0 #000000, 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000;
}

/* DIAPOSITIVES */
#series_list{
	margin: auto;
}

#series_list img {
	 border: 2px solid #000000;
	 margin-bottom: 10px;
}

#series_list img:hover {
	opacity: 0.4;
}

#pagination{
	float: right;
}

.pagination li a,
.pagination li span{
	background-color: #3a3a3a;
	color: #FFF;
}

.pagination li.active a{
	background-color: #f40e0e;
	color: #FFF;
	border: 1px solid #ddd;
}

/* PROVISOIRE.... REGISTRATION FORM */
#registration_form,
#login_form{
	color: #000000;
}

/* PROVISOIRE.... BUTTON UPDATE SERIES */
#update_series{
	float: right;
	margin-right: 20px;
}

#update_series a{
	color: #f40e0e;
	margin-bottom: 20px;
	margin-left: 10px;
}

#pourcentage{
	margin-left: 10px;
}

.progress{
	margin-top: 10px;
}

/* Bouton Retour */
.return{
	margin-bottom: 50px;
}

.return a{
	color: #f40e0e;
	font-size: 1.2em;
	float: left;
}

.return a:hover{
	text-decoration: none;
}

/* FOOTER */
footer{
	color: #FFF;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	font-size: 1.2em;
	margin-top: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*height: 200px;*/
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Laptop 992px to 1200px */
@media all and (max-width: 1200px){
	
	.carousel-inner img{
		width: 40%;
	}
}

/* Tablette 768px to 992px */
@media all and (max-width: 992px) {
	
	#main_title {
		text-align: center;
		padding-bottom: 0;
	}
	
	#login_btns .btn{
		float: none;
	}
	
	.carousel-inner img{
		width: 50%;
	}
	
}

/* Smartphone lower than 768px */
@media all and (max-width: 768px) {
	
	.navbar{
		width: auto;
		margin: auto;
	}
	
	.container-fluid{
		text-align: center;
	}
	
	.inline-form input {
		display: inline-block;
		width: 100px;
	}
	
	.carousel-inner img{
		width: 80%;
	}
	
}
