#quizz {
	width: 60%;
	margin: 80px auto;
	padding: 20px;
	text-align: center;
}

#quizz img {
	width: 100%;
	margin-bottom: 50px;
}

#quizz h2 {
	margin-top: 0;
}

#quizz h3 {
	text-align: left;
}

/* Si User pas connecté */
#quizz .btn {
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin: 0 auto 20px;
	padding: 5px;
	border-radius: 5px;
}

#quizz .button {
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 5px;
}

/* Si User connecté */
#quizz .startQuiz {
	font-size: 2em;
	padding: 10px 20px;
}

#quizz .quiz_details {
	margin-bottom: 30px;
}

#quizz p {
	color: #f40e0e;
	font-size: 1.2em;
}

#quizz .question_nb {
	color: #f40e0e;
}

#quizz .answers {
	padding: 0;
	margin: 50px auto;
}

#quizz .answer {
	list-style: none;
	font-size: 1.5em;
	margin: 0 auto;
}

#quizz .answer input {
	margin-right: 10px;
}

#quizz .answer label:hover {
	cursor: pointer;
}

#quizz .quiz_results {
	margin: 0 auto 50px;
}

#quizz .quiz_results h3 {
	margin: 10px auto;
	text-align: center;
}

#quizz .quiz_results span {
	color: #f40e0e;
}

#quizz .correction .question {
	font-size: 1.8em;
}

#quizz .correction span {
	color: blue;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Laptop 992px to 1200px */
@media all and (max-width: 1200px) {

}

/* Tablette 768px to 992px */
@media all and (max-width: 992px) {
	
	#quizz {
		width: 70%;
	}
}

/* Smartphone lower than 768px */
@media all and (max-width: 768px) {
	
	#quizz {
		width: 100%;
	}
	
}
