/* BOUTON "SUIVRE CETTE SERIE" */
#follow_serie {
	display: flex;
	flex-direction: row;
}

#stop_follow_serie {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#follow_serie_btn,
#stop_follow_serie_btn {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 2em;
	color: #000000;
	background-color: #f40e0e;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 50%;
	padding: 0;
}

#follow_serie_btn:hover,
#stop_follow_serie_btn:hover {
	background-color: #FFF;
}

#follow_serie_text,
#stop_follow_serie_text {
	height: 30px;
	line-height: 30px;
	font-size: 1.2em;
}

/* DETAILS DE LA SERIE CONSULTEE */
#serie {
	margin-bottom: 50px;
}

#serie_details {
	margin-top: 20px;
}

#serie_details p {
	font-size: 1.3em;
	background-color: #3a3a3a;
	color: #FFF;
	border: 5px solid #000000;
	border-radius: 20px;
}

#serie_title h2 {
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 50px;
}

#serie_description p {
	font-size: 1.5em;
	font-style: italic;
	text-align: justify;
}

.rating {
	font-size: 2em;
	direction: rtl;
}

.rating input {
	opacity: 0;
	position: absolute;
}

.rating a,
.rating label {
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a,
.rating label:hover {
	color: #f40e0e;
	cursor: pointer;
}

#actual_rating h2 {
	margin-top: 20px;
	color: #f40e0e;
}

/* BLOC "AJOUTER UN COMMENTAIRE" */
#add-comment {
	margin-bottom: 50px;
}

#add-comment h3 {
	font-size: 2em;
	margin-bottom: 20px;
}

#add-comment p {
	font-size: 1.5em;
	margin-bottom: 20px;
}

#add-comment h3 span {
	color: #f40e0e;
}

#add-comment form {
	width: 80%;
	float: none;
}

#add-comment form .form-group input {
	background-color: #aaa;
}

#add-comment form .btn {
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.3em;
	margin-left: 10px;
}

#add-comment form .btn:hover {
	color: #f40e0e;
}

#add-comment #link_login_btns {
	margin-top: 0;
}

/*#login_btns{*/
/*margin-top: 30px;*/
/*margin-bottom: 30px;*/
/*}*/

#add-comment #link_login_btns .btn {
	background-color: #3a3a3a;
	color: #FFF;
	font-size: 1.2em;
	margin-left: 10px;
	float: right;
}

#add-comment #link_login_btns .btn:hover {
	color: #f40e0e;
}

#add-comment #link_login_btns .register_btn a {
	float: right;
}

#add-comment #link_login_btns .login_btn a {
	float: left;
}

#add-comment a {
	margin: auto 5px;
}

.comments_rules {
	background-color: #3a3a3a;
	margin: 50px auto;
	padding: 10px;
	width: 80%;
	border-radius: 10px;
}

.comments_rules p {
	/*text-align: left;*/
	/*margin-left: 30px;*/
}

.comments_rules ol li {
	/*margin-left: 30px;*/
	list-style: none;
	font-size: 1.2em;
}

/* BLOC "AFFICHER LES COMMENTAIRES" */
#comments h3 {
	font-size: 2em;
	margin-bottom: 50px;
}

#comments h3 span {
	color: #f40e0e;
}

#comments p {
	font-size: 1.5em;
	margin-bottom: 20px;
}

#full_comment {
	margin-bottom: 20px;
}

#comments_details p {
	background-color: #3a3a3a;
	margin-right: 10px;
	margin-bottom: 0;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 1.2em;
}

#comments_details button {
	background-color: #3a3a3a;
	color: #f40e0e;
	margin-right: 10px;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 1em;
	border: none;
}

#comments_content p {
	background-color: #aaa;
	color: #000000;
	border-radius: 5px;
	border-top-left-radius: 0;
	margin-bottom: 20px;
	text-align: left;
}

.signal_icon {
	color: #f40e0e;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Laptop 992px to 1200px */
@media all and (max-width: 1200px) {

}

/* Tablette 768px to 992px */
@media all and (max-width: 992px) {
	
	#serie_image img {
		float: none;
		margin: 0 auto;
	}
	
}

/* Smartphone lower than 768px */
@media all and (max-width: 768px) {
	
	#serie_image img {
		margin-top: 40px;
	}
	
	#comments h3,
	#add-comment h3 {
		font-size: 1.5em;
	}
	
	#comments p,
	#add-comment p {
		font-size: 1.2em;
	}
	
	#comments_details p {
		font-size: 0.9em;
	}
	
	#comments_details button {
		display: none;
	}
	
}
